@import "tailwindcss";
/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* More defined light background */
  color: #0e1116; /* Slate 800 - High Contrast Text */


  min-height: 100vh;
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
}
section {
  scroll-margin-top: 5.5rem;
}